<!--<app-construcao></app-construcao>-->
<div class="headerQS">
    <img class="topimg" src="../../assets/singapurePanoram.jpg" alt="The Legend of Zelda: A Link to The Past">
    <h1>Quem Somos</h1>
</div>
<div class="textContentQS">
    <p><b>E R Bittencourt Consultoria de Operações</b> é uma empresa nova, mas que nasceu com o objetivo de ajudar rodovias em sua gestão e terceirização de serviços especializados para o melhor funcionamento da mesma.
        <br>O sócio proprietário, Edmundo Regis Bittencourt, criou a empresa através da influência profissional que teve de seu pai e de seu avô paterno, dois grandes engenheiros rodoviários.</p>
        <h5>Entenda um pouco mais: </h5>
        <div class="fotosHeranca">
            <figure>
                <p><img class="leftimg" src="../../assets/VoRoberto.png" alt="The Legend of Zelda: A Link to The Past">
                <figcaption>Pai Roberto Regis Bittencourt</figcaption>
            </figure>
            <div class="spacer"></div>
            <figure>
                <p><img class="leftimg" src="../../assets/BisoEdmundo.jpg" alt="The Legend of Zelda: A Link to The Past">
                <figcaption>Avô Edmundo Régis Bittencourt</figcaption>
            </figure>
        </div>
    <p>Roberto Regis Bittencourt, pai do fundador Edmundo, trabalhou mais de 25 anos na Construtora Andrade Gutierrez, na área comercial da construtora e nas concessionárias CCR Ponte Rio-Niterói e CCR Nova Dutra.
    <br>Já, Edmundo Régis Bittencourt, avô do fundador da empresa, trabalhou na direção geral do Departamento Nacional de Estrada de Rodagem - DNER (órgão público rodoviário anterior ao Departamento Nacional de Infraestrutura Terrestre - DNIT) nos tempos áureos da expansão da malha rodoviária no Brasil, e ainda exerceu o mandato de prefeito na cidade de Itaperuna.
    <br>Edmundo Regis Bittencourt, com toda a influência citada acima teve sua carreira profissional no ramo de concessões de rodovias, com mais de 20 anos de experiência, trabalhado em grandes empresas, tais como CCR Ponte Rio-Niterói, CONCER, Autopista Fluminense e Via Brasil MT.
    <br>Na concessionária Via Brasil MT, trabalhou na modalidade de pessoa jurídica, tendo executado os serviços de trabalhos iniciais de manutenção/conservação e todo o processo de implantação dos sistemas operacionais (Pedágio, CCO, SAU-Mecânico, SAU-Médico, radiofonia, implantação de uma rede fibra óptica e subsistemas de ITS) e toda sua gestão operacional.
    </p>
    <h4>Sócio Proprietário</h4>
    <div class="socio">
        <img class="leftimg" src="../../assets/Edmundo.jpg" alt="The Legend of Zelda: A Link to The Past">
        <div class="socioInfo">
            <p>Edmundo Regis Bittencourt, é um Engenheiro Civil que com uma grande influência familiar e um histórico profissional trabalhando em grandes empresas resolveu empreender para levar melhoria as estradas.
            <br>Graduado pela Universidade Santa Úrsula no curso Engenharia Civil, tendo concluído em 1995.
            <br>Especializado pela Fundação Getúlio Vargas/FGV no curso de Administração de Empresas e Gestão de Negócios, tendo concluído em 2001.
            <br>No atual momento, está se capacitando através de dois cursos de pós-graduação, Engenharia de Segurança do Trabalho e Engenharia de Transporte Rodoviário.
            </p>
            <div class="centBtn">
                <button class="btnHist" [routerLink]="['/professional']">Saiba Mais</button>

            </div>
        </div>
    </div>
</div>