.content{
    height: 12.5vw;
    width: 100vw;
    background-color: #d3d3d3;
    margin-top: 30px;
}

.direitos{
    height: 5vh;
    width: 100%;
    background-color: #464E51;
    color:white;
    vertical-align: middle;
    margin-bottom: 0;
}

.top{
    display: flex;
    width: 70vw;
    margin: 0 auto;
    padding-top: 10px;
}

.about{
    display: flex;
    width:90vw;
    margin:0 auto;
}

.spacer{
    flex: 1;
}

h6{
    font-size: 8pt;
}

.tituloFooter{
    margin-top: 2vh;
    text-align: center;
}

.info{
    display:flex;
    margin-bottom: 2vh;
}

p{
    margin-left: 1vw;
    margin-bottom: 0;
}

.centerphone{
    margin: 0 auto;
}

.centerplace{
    margin: 0 auto;
}