<div class="content">
    <div class="about">
        <div>
            <div class="tituloFooter">
                <h4>Sobre</h4>
            </div>
            <h6><b>E. R. Bittencourt Consultoria de Operações</b> é uma empresa no qual o sócio proprietário, <br>Edmundo Regis Bittencourt, tem como sua formação profissional, a influência de meu pai<br> e de meu avô paterno, dois grandes engenheiros rodoviários.
            </h6>
        </div>
        <div class="spacer"></div>
        <div>
            <div class="tituloFooter">
                <h4>Links Rápidos</h4>
            </div>
            <div class="links">
                <ul>
                    <li>Home</li>
                    <li>Capacidade Técnica</li>
                    <li>Histórico Profissional</li>
                    <li>Serviços</li>
                    <li>Assessoramento</li>
                </ul>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="contact">
            <div class="tituloFooter">
                <h4>Contato</h4>
            </div>
            <div class="info">
                <fa-icon icon="envelope"></fa-icon>
                <p>edmundo.bittencourt@erbittencourtconsultoria.com.br</p>
            </div>
            <div class="info">
                <fa-icon icon="phone-alt"></fa-icon>
                <div class="centerphone">
                    <p>+55 21 97126-9346</p>
                </div>
            </div>
            <div class="info">
                <fa-icon icon="map-marker-alt"></fa-icon>
                <div class="centerplace">
                    <p>Macaé, Rio de Janeiro, Brasil</p>
                </div>
            </div>
        </div>
    </div>
    <div class="direitos">
        <p>@ 2020 ERBittencourt Consultoria. Todos os direitos reservados.</p>
    </div>
</div>