<body>
  <div class="service">
    <h3>Serviços</h3>
  </div>
  <div class="content">
    <div id="carouselServiceIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselServiceIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselServiceIndicators" data-slide-to="1"></li>
          <li data-target="#carouselServiceIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="flex">
              <div class="col">
                <div class="card bg-light mb-3" style="max-width: 18rem; height: 32rem;">
                  <div class="card-header">
                    <fa-icon icon="bezier-curve"></fa-icon>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Drones Industriais</h5>
                    <p class="card-text">No fim de fevereiro, a China começou a usar drones (VANT - Veículo Aéreo Não Tripulado) para desinfecção das cidades. Um olhar superficial não revela a profunda transformação no modo de operar em cidades e a inteligência por traz disso. Os drones são nossos conhecidos já há alguns anos, se não temos um, sabemos ao menos do que são capazes no cinema, no patrulhamento, na diversão (registrando momentos e imagens especiais).
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card bg-light mb-3 sp" style="max-width: 18rem; height: 32rem;">
                  <div class="card-header"><fa-icon icon="broadcast-tower"></fa-icon></div>
                  <div class="card-body">
                    <h5 class="card-title">Cidades Inteligentes</h5>
                    <p class="card-text">Parceria com diversas empresas com grande capacidade técnica e experiência na implantação de redes de fibra óptica, circuito fechado de televisão – CFTV, Paíneis de Mensagens Variáveis - PMV Fixos e Móveis, implantação de contadores de tráfego – SAT, detectores de altura, estações meteorológicas, sistema de radicomunicação digital.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card bg-light mb-3 sp" style="max-width: 18rem; height: 32rem;">
                  <div class="card-header">
                    <fa-icon icon="chart-line"></fa-icon></div>
                  <div class="card-body">
                    <h5 class="card-title">Sistema de Gerenciamento Operacional</h5>
                    <p class="card-text">Parceria empresa com grande capacidade técnica e experiência na implantação de centro de controles operacionais – CCOs, bem como o gerenciamento dos dados de tráfego e arrecadação, com a criação de painéis de controle e indicadores, utilizando a ferramenta Power BI.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card bg-light mb-3 sp" style="max-width: 18rem; height: 32rem;">
                  <div class="card-header"><fa-icon icon="video"></fa-icon></div>
                  <div class="card-body">
                    <h5 class="card-title">Cidades Vigiadas</h5>
                    <p class="card-text">Estamos em parceria com uma empresa de monitoramento de “Cidades Vigiadas”, já com instalação de 130 câmeras no Município de Uberaba/MG.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="flex">
              <div class="col">
                <div class="card bg-light mb-3 sp" style="max-width: 18rem; height: 32rem;">
                  <div class="card-header"><fa-icon icon="dot-circle"></fa-icon></div>
                  <div class="card-body">
                    <h5 class="card-title">Tapa Buraco utilizando o Produto “CHIP FILL”</h5>
                    <p class="card-text">A representação do produto “Chip Fill”, é de exclusividade das empresas: AEROSAT Engenharia e E R Bittencourt Consultoria de Operações.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card bg-light mb-3" style="max-width: 18rem; height: 32rem;">
                  <div class="card-header"><fa-icon icon="road"></fa-icon></div>
                  <div class="card-body">
                    <h5 class="card-title">Manutenção e Conservação Rodoviária</h5>
                    <p class="card-text">Parceria empresa com experiência nos serviços da implantação dos serviços de Manutenção e conservação de rodovia, abrangendo os seguintes serviços:</p>
                    <ul>
                      <li>Pistas e Acostamentos;</li>
                      <li>Faixa de Domínio;</li>
                      <li>Obras de Arte Especiais;</li>
                      <li>Dispositivos de Proteção e Segurança;</li>
                      <li>Sistemas de Drenagem e Obras de Arte Correntes.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card bg-light mb-3 sp" style="max-width: 18rem; height: 32rem;">
                  <div class="card-header"><fa-icon icon="lightbulb"></fa-icon></div>
                  <div class="card-body">
                    <h5 class="card-title">Implantação de Sistema de Iluminação a LED</h5>
                    <p class="card-text">Possuímos “KNOW HOW” em implantação e manutenção  do sistema de iluminação.<br>Estamos participando de divervas concorrências de PPPs de Iluminação Pública em Municípios, tais como Angra dos Reis e Vassouras.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card bg-light mb-3 sp" style="max-width: 18rem; height: 32rem;">
                  <div class="card-header"><fa-icon icon="sign"></fa-icon></div>
                  <div class="card-body">
                    <h5 class="card-title">Implantação e Manutenção da Sinalização Vertical e Horizontal</h5>
                    <p class="card-text">Parceria com empresas que tem experiência na prestação do serviço de Implantação e Manutenção da Sinalização Vertical e Horizontal.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="flex">
              <div class="col">
                <div class="card bg-light mb-3 sp" style="max-width: 18rem; height: 32rem;">
                  <div class="card-header"><fa-icon icon="pallet"></fa-icon></div>
                  <div class="card-body">
                    <h5 class="card-title">Implantação de Dispositivos de Proteção Viária</h5>
                    <p class="card-text">Temos parceria com empresas que realizam os serviços de Implantação de Dispositivos de Proteção Viária.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card bg-light mb-3 sp" style="max-width: 18rem; height: 32rem;">
                  <div class="card-header"><fa-icon icon="ambulance"></fa-icon></div>
                  <div class="card-body">
                    <h5 class="card-title">Serviço de Atendimento ao Usuário - SAU</h5>
                    <p class="card-text">Parceria com empresas do serviço médico emergencial (SAU-Médico) e do serviço de atendimento mecânico emergencial (SAU-Mecânico) com capacidade técnica e experiência no ramo com a prestação de serviços em diversas concessionárias de rodovia.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card bg-light mb-3 sp" style="max-width: 18rem; height: 32rem;">
                  <div class="card-header"><fa-icon icon="snowplow"></fa-icon></div>
                  <div class="card-body">
                    <h5 class="card-title">Locação de veículos leves, pesados e equipamentos</h5>
                    <p class="card-text">Tenho uma parceria com empresas de locação de veículos leves (automóveis), veículos pesados (guinchos leves e pesados, caminhão munck, caminhão com cesto aéreo) e equipamentos (motoniveladora, retroescavadeira, carregadeira, escavadeira, caminhões caçambas tocos e traçados.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card bg-light mb-3" style="max-width: 18rem; height: 32rem;">
                  <div class="card-header">
                    <fa-icon icon="car"></fa-icon>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Estudos de Mobilidade de Transporte</h5>
                    <p class="card-text">Tenho uma parceria com um dos grandes escritórios de Consultoria de Estudos de Mobilidade de Transporte, com experiência na realização de estudos de tráfego, estudos de mobilidade de transporte (transporte coletivo, ciclovia e pedestre), estudo de viabilidade econômica/financeira de um projeto, auditorias, com clientes em várias concessionárias de rodovias, prefeituras e outros orgãos.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselServiceIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselServiceIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
    </div>
  </div>

</body>

