<body>
    <div class="content">
        <h1>[</h1>
        <div class="spacer"></div>
        <p><b>E. R. Bittencourt Consultoria de Operações</b> é uma empresa no qual o sócio proprietário, Edmundo Regis Bittencourt, tem como sua formação profissional, a influência de meu pai e de meu avô paterno, dois grandes engenheiros rodoviários.
            Meu pai trabalhou a mais de 25 anos na Construtora Andrade Gutierrez, na área comercial da construtora e nas concessionárias CCR Ponte Rio-Niterói e CCR Nova Dutra, e meu avô na direção geral do Departamento Nacional de Estrada de Rodagem - DNER (órgão público rodoviário anterior ao Departamento Nacional de Infraestrutura Terrestre - DNIT) nos tempos áureos da expansão da malha rodoviária no Brasil, e ainda exerceu o mandato de prefeito na cidade de Itaperuna.
            Eu, Edmundo Regis Bittencourt, tive minha trajetória de carreira profissional no ramo de concessões de rodovias, com mais de 20 anos de experiência, trabalhado em grandes empresas, tais como CCR Ponte Rio-Niterói, CONCER, Autopista Fluminense e Via Brasil MT.
            Na concessionária Via Brasil MT, trabalhei na modalidade de pessoa jurídica, tendo executado os serviços de trabalhos iniciais de manutenção/conservação e todo o processo de implantação dos sistemas operacionais (Pedágio, CCO, SAU-Mecânico, SAU-Médico, rádiofonia, implantação de uma rede fibra óptica e subsistemas de ITS) e fazendo toda sua gestão operacional.
        </p>
        <div class="spacer"></div>
        <h1>]</h1>
    </div>
</body>