h1{
    margin-top: 0.65em;
    font-size: 250px;
    color: #7aeb7a;
}

p{
    margin: 6.5em 2em;
    font-size: 14px;
    font-style: italic;
}

.content{
    display: flex;
    width: 90vw;
    margin: 0 auto;
}

.spacer{
    flex:1;
}

body{
    margin-top: -50px;
}