/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body{
    margin: 0;
    overflow-x: hidden;
}

.mat-h5, .mat-typography h5 {
    /* font: 400 calc(14px * .83)/20px Roboto,"Helvetica Neue",sans-serif; */
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin: 0 0 12px;
}

.mat-h3, .mat-typography h3 {
    /* font: 400 calc(14px * .83)/20px Roboto,"Helvetica Neue",sans-serif; */
    font-size: 1.75rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin: 0 0 12px;
}