<!--<app-construcao></app-construcao>-->
<div class="externo">
    <div class="formulario">
        <form>
            <h5>Entre em contato conosco</h5>
            <div class="form-group">
                <label for="exampleInputName">Nome</label>
                <input type="name" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Informe seu nome">
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe seu email">
            </div>
            <div class="form-group">
              <label for="exampleInputPhone">Telefone</label>
              <input type="phone" class="form-control" id="exampleInputPhone" placeholder="Informe seu Telefone">
            </div>
            <div class="form-group">
                <label for="inputState">Motivo do contato</label>
                <select id="inputState" class="form-control">
                    <option selected>Selecione uma opção</option>
                    <option>Elogio</option>
                    <option>Informação</option> 
                    <option>Reclamação</option>    
                    <option>Sugestão</option>        
                    <option>Solicitação</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputMsg">Mensagem</label>
                <input type="text-area" class="form-control text-area" id="exampleInputMsg">
              </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>