<div class="geral">
    <h2>Serviços</h2>
    <div class="flex">
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 18rem; height: 20rem;" (click)="OpenModal(0)">
                <div class="card-header">
                  <img src="../../assets/drone.jpg" style="max-width: 15rem; height: 10rem;"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Drones Industriais</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 18rem; height: 20rem;" (click)="OpenModal(1)">
                <div class="card-header">
                  <img src="../../assets/cidadesInteligentes.png" style="max-width: 15rem; height: 10rem;"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Cidades Inteligentes</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 18rem; height: 20rem;" (click)="OpenModal(2)">
                <div class="card-header">
                  <img src="../../assets/sistemaGerencialmento.png" style="max-width: 15rem; height: 10rem;"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Sistema de Gerenciamento Operacional</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 18rem; height: 20rem;" (click)="OpenModal(3)">
                <div class="card-header">
                  <img src="../../assets/vigiadas.png" style="max-width: 15rem; height: 10rem;"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Cidades Vigiadas</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="flex">
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 18rem; height: 20rem;" (click)="OpenModal(4)">
                <div class="card-header">
                  <img src="../../assets/tapa.png" style="max-width: 15rem; height: 10rem;"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Tapa Buraco utilizando o Produto “CHIP FILL”</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 18rem; height: 20rem;" (click)="OpenModal(5)">
                <div class="card-header">
                  <img src="../../assets/manutancao.png" style="max-width: 15rem; height: 10rem;"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Manutenção e Conservação Rodoviária</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 18rem; height: 20rem;" (click)="OpenModal(6)">
                <div class="card-header">
                  <img src="../../assets/led.png" style="max-width: 15rem; height: 10rem;"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Implantação de Sistema de Iluminação a LED</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 18rem; height: 20rem;" (click)="OpenModal(7)">
                <div class="card-header">
                  <img src="../../assets/sinalizacao.png" style="max-width: 15rem; height: 10rem;"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Implantação e Manutenção da Sinalização Vertical e Horizontal</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="flex">
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 18rem; height: 20rem;" (click)="OpenModal(8)">
                <div class="card-header">
                  <img src="../../assets/seguranca.png" style="max-width: 15rem; height: 10rem;"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Implantação de Dispositivos de Proteção Viária</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 18rem; height: 20rem;" (click)="OpenModal(9)">
                <div class="card-header">
                  <img src="../../assets/sau.png" style="max-width: 15rem; height: 10rem;"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Serviço de Atendimento ao Usuário - SAU</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 18rem; height: 20rem;" (click)="OpenModal(10)">
                <div class="card-header">
                  <img src="../../assets/locacao.png" style="max-width: 15rem; height: 10rem;"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Locação de veículos leves, pesados e equipamentos</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 18rem; height: 20rem;" (click)="OpenModal(11)">
                <div class="card-header">
                  <img src="../../assets/mobilidade.jpg" style="max-width: 15rem; height: 10rem;"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Estudos de Mobilidade de Transporte</h5>
                </div>
            </div>
        </div>
    </div>
</div>